.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+13,3a84c3+32,4bb8f0+53,419ad6+65,419ad6+65,3a8bc2+84,26558b+100 */
background: #cedbe9; /* Old browsers */
background: -moz-linear-gradient(-45deg, #cedbe9 0%, #aac5de 13%, #3a84c3 32%, #4bb8f0 53%, #419ad6 65%, #419ad6 65%, #3a8bc2 84%, #26558b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #cedbe9 0%,#aac5de 13%,#3a84c3 32%,#4bb8f0 53%,#419ad6 65%,#419ad6 65%,#3a8bc2 84%,#26558b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #cedbe9 0%,#aac5de 13%,#3a84c3 32%,#4bb8f0 53%,#419ad6 65%,#419ad6 65%,#3a8bc2 84%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #CCC;
}

